.err404{

	.err404--wrapper{
		padding-top: 50px;
		text-align: center;
		.err404--header{

			color: #fff;
			font-size: 1.5em;
			letter-spacing: .1em;
			font-family: monospace arial sans-serif;

		}
	}

}