<div class="footer--wrapper">
	<div class="footer--social_links-wrapper">
		<section class="footer--social_links">
			<section class="footer--social_links-vk">
				<a href="https://vk.com/nda86"><i class="fa fa-vk fa-3x"></i></a>
			</section>
			<section class="footer--social_links-github">
				<a href="https://github.com/nda86"><i class="fa fa-github-alt fa-3x"></i></a>
			</section>
			<section class="footer--social_links-facebook">
				<a href="https://www.facebook.com/profile.php?id=100000865011635"><i class="fa fa-facebook-official fa-3x"></i></a>
			</section>
		</section>
	</div>
	<section class="footer--credits">
		<span class="footer--credits-copyright">
			&copy; &middot; NDA Studio &middot; All Rights Reserved &middot; 2015
		</span>
	</section>
</div>