<div class="header--wrapper">
	<div class="header--logo">
		<span class="header--logo-title">
			Sweety Kitty
		</span>
	</div>
	<div class="header--nav-toggle-wrapper">
		<div class="header--nav-toggle-link">
			M
		</div>
	</div>
	<nav class="header--nav">
		<ul class="header--nav-list">
			<a href="/"><li>Home</li></a>
			<a href="/show"><li>Show Kitties</li></a>
			<a href="/upload"><li>Upload Kitty</li></a>
			<% if (typeof user != 'undefined'){ %>
			<a href="/logout"><li>log out</li></a>
			<% }else{ %>
			<a href="/login"><li>log in</li></a>
			<% } %>
		</ul>
	</nav>
</div>