<% include ./partials/head %>
<body>
	<section class="home">
		<div class="wrapper">

			<div class="home--verge">
				<div class="wrapper">
					<div class="home--verge-line">
					</div>
				</div>
			</div>

			<section class="home--content">
				<div class="wrapper">

					<section class="home--content-logo">
						<div class="wrapper">
							<span class="first">sweety</span><span class="second">kitty</span><span class="third">.com</span>
						</div>
					</section>

					<section class="home--content-by">
						<div class="wrapper">
							<span class="powered">powered by:</span><span class="node">nodejs</span><span class="express">express</span><span class="mongodb">mongodb</span>
						</div>
					</section>

				</div>
			</section>

			<div class="home--verge">
				<div class="wrapper">
					<div class="home--verge-line">
						___
					</div>
				</div>
			</div>

		</div>
	</section>
</body>
</html>