<!DOCTYPE html>
<html lang="en">

<head>
	<% include ./partials/head %>
</head>

<body>

<div class="page-wrapper">
	<header id='header'>
		<% include ./partials/header %>
	</header>

	<section id="content">
		<%- body %>
	</section>
</div>		

<footer id="colophon">
	<% include ./partials/footer %>
</footer>

	<% include ./partials/scripts %>
</body>

</html>