*,*:after,*:before{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
}

html,body{
	height: 100%;
}

.page-wrapper{
	min-height: 100%;
	margin-bottom: -126px;
}

.page-wrapper:after{
	display: block;
	content: '';
	height: 126px;
}

// #content{
// 	min-height: 100% !important;
// }


// body{
// 	@include container(80em);
// }
